/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 16% 1fr;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2, input, .list-item {
  font-size: 2rem;
}

input, .list-item {
  font-weight: 100;
}

h3 {
  font-size: 1.8rem;
}

h3 + a {
  font-size: 1.5rem;
}

p {
  font-size: 1.6rem;
}

.byline {
  font-size: 1.2rem;
  color: #454545;
}

.published-date-time {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.published-date-time > li:first-of-type {
  list-style: none;
}

.published-date-time > li:last-of-type {
  margin-left: 1.5rem;
}

.published-date-time > li {
  line-height: 2;
  color: #9a9a9a;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

header {
  color: #9a9a9a;
}

h3 {
  color: #fdc006;
}

input {
  border: 0;
  margin: 5rem 0 1rem 0;
  outline: none;
}

.nav-list {
  margin-top: 0.5rem;
  padding: 0;
}

.list-item {
  list-style: none;
  line-height: 1.5;
  margin:.5rem 0;
}

/* Hero */

#hero {
  display: flex;
}

.feature {
  width: 70%;
}

.sub-feature > ul li {
  list-style: none;
  border-bottom: 1px solid #9a9a9a;
}

/* News Feed */


