* {
  border: 1px solid black;
  box-sizing: border-box;
}

header {
  height: 100px;
  clear: both;
}

section {
  float: left;
  height: 200px;
  width: 33.3333%;
}

.large {
  height: 350px;
  width: 50%;
}

footer {
  height: 100px;
  clear: both;
}
