<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quas.</p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nihil eaque, eos maxime voluptates similique dolore reprehenderit deserunt magnam. Quae fuga odit eius totam eaque maxime laboriosam, ipsa delectus illum.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="">
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites!</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nihil eaque, eos maxime voluptates similique dolore reprehenderit deserunt magnam. Quae fuga odit eius totam eaque maxime laboriosam, ipsa delectus illum.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="">
  </article>
</section>
